img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

img[data-src],
img[data-srcset] {
  min-height: 1px;
  min-width: 1px;
}