@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url(dist/fonts/Roboto-italic-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url(dist/fonts/Roboto-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url(dist/fonts/Roboto-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(dist/fonts/Roboto-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Averta';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(dist/fonts/Roboto-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}


@font-face {
	font-family: 'Averta';
	src: url(dist/fonts/Averta.eot?) format('eot'), url(dist/fonts/Averta.woff) format('woff'), url(dist/fonts/Averta.ttf) format('truetype');
}