// Breakpoints
$breakpoints: (
   'xs': 0,
   'sm': 576px,
   'md': 768px,
   'lg': 992px,
   'xl': 1200px,
   'xxl': 1400px
);

@mixin respond-to($breakpoint) {
   // Retrieves the value from the key
   $value: map-get($breakpoints, $breakpoint);

   // If the key exists in the map
   @if $breakpoint=='desktop' {

      // Prints a media query based on the value
      @media (min-width: $value) {
         @content;
      }
   }

   @else if $value !=null {

      // Prints a media query based on the value
      @media (max-width: $value) {
         @content;
      }
   }
}

@mixin respond-from($breakpoint) {
   $value: map-get($breakpoints, $breakpoint);

   @media (min-width: $value) {
      @content
   }
}