$utilities: ("opacity": (property: opacity,
    responsive: true,
    values: (0: 0,
      25: .25,
      40: .4,
      50: .5,
      60: .6,
      75: .75,
      80: .80,
      100: 1,
    )),
  "margin-right": (property: margin-right,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "margin-left": (property: margin-left,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "padding-right": (property: padding-right,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "padding-left": (property: padding-left,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "margin-top": (property: margin-top,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "margin-bottom": (property: margin-bottom,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "padding-top": (property: padding-top,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "padding-bottom": (property: padding-bottom,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )),
  "padding": (property: padding,
    responsive: true,
    values: (0: 0px,
      4: 4px,
      6: 6px,
      8: 8px,
      16: 16px,
      24: 24px,
      32: 32px,
      48: 48px,
      60: 60px,
      80: 80px,
      100: 100px,
      120: 120px,
      140: 140px,
      160: 160px,
      180: 180px,
      200: 200px,
    )));